<!-- Crear un sideBar desde cero en Angular -->


<nav class="navbar">
        <ul>
            <li class="logo_image">
                <img src="https://www.xtrafondos.com/wallpapers/arana-de-spider-man-logo-8328.jpg" alt="logo_image" srcset="">
                <h5>Coding With You</h5>
            </li>
            <li><a routerLink="home"><i class="bi bi-house-fill"></i> <span>Home</span></a></li>
            <li><a routerLink="login"><i class="bi bi-door-closed-fill"></i><span>Login</span></a></li>
            <li><a routerLink="contact"><i class="bi bi-telephone-outbound-fill"></i> <span>Contact</span></a></li>
            <li><a routerLink="settings"><i class="bi bi-gear-wide-connected"></i> <span>Settings</span></a></li>
            <li><a routerLink="help"><i class="bi bi-question-diamond-fill"></i><span>Help</span></a></li>
            <li><a routerLink="logout"><i class="bi bi-door-open-fill"></i> <span>Log out</span></a></li>
        </ul>
</nav>