.contenedor_form_entero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form{
    width: 90%;
}
.contenedor{
    padding: 10px;
    background: rgb(235, 229, 229);
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    box-shadow: 1px 1px 2px var(--bs-white);
    color: black;
    border-radius: 2px;
}
.contenedor:hover{
    transform: translateY(-3px);
    box-shadow: 1px 1px 5px var(--bs-white);
}
.contenedor *{
    display: flex;
    flex-direction: column;
}
button{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
