<div class="contenedor_form_entero">
    <form (ngSubmit)="enviar()" [formGroup]="nameGroup">
        <div class="contenedor">
            <div class="nombre">
                <label for="name">Ingresa tu nombre</label>
                <input type="text" formControlName="name">
            </div>
            <div class="ciudad">
                <label for="ciudad">Ingresa tu ciudad</label>
                <select formControlName="ciudad">
                    <option *ngFor="let cadaCiudad of resolverData" value="{{cadaCiudad}}">{{cadaCiudad}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success col-2 mt-2" [disabled]="nameGroup.invalid">Send</button>
            <div *ngIf="mensaje && nameGroup.pristine" class="alert alert-success mt-2">Data enviada!</div>
        </div>
    </form>
</div>