<div class="contenedor_form_entero">
    <form (ngSubmit)="enviar()" [formGroup]="nameGroup">
        <div class="contenedor">
            <div class="nombre">
                <label for="name">Nombre:</label>
                <input type="text" formControlName="name" placeholder="Ejemplo: Juan Orlando" class="form-control">
            </div>
            <div class="ciudad">
                <label for="ciudad">Ciudad</label>
                <select formControlName="ciudad" class="form-select">
                    <option *ngFor="let cadaCiudad of resolverData" value="{{cadaCiudad}}">{{cadaCiudad}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary col-4 mt-2" style="display: flex; flex-direction: row; gap: 7px;" [disabled]="nameGroup.invalid"><i class="bi bi-send-fill"></i> Enviar</button>
            <div *ngIf="mensaje && nameGroup.pristine" class="alert alert-success mt-2">Data enviada!</div>
        </div>
    </form>
</div>