.conteiner_central{
    width: 100%;
}
.conteiner_central input{
    z-index: 100;
}
.contacts_conteiner{
    width: 98%;
}
.buscadores{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
.buscadores *{
    height: 40px;
}
.buscadores button{
    width: 50%;
}
.buscadores .agregador, .buscadores .buscador{
    display: flex;
    gap: 4px;
}
/* Contacts Container */
.contacts_conteiner ul{
    padding: 0px;
    background: rgba(255, 255, 255);
    color: #000;
    border-radius: 10px 10px 0px 0px;
}
.contacts_conteiner ul li{
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black dashed;
    align-items: center;
    transition: 0.1s;
    cursor: pointer;
}
.contacts_conteiner ul li:hover{
    transform: scale(1.002);  
    box-shadow: 0px 0px 10px var(--bs-red);
    border-bottom: 1px transparent;
}
.contacts_conteiner ul li .buttons button{
    margin: 0px 1px 0px 1px;
    transform: scale(0.9);
}
.active{
    border-radius: 5px !important;
    background: var(--bs-light) !important;
    color: black;
    transform: scale(1.003);
    transition: 0.1s;
    animation: animacion 1s alternate infinite;
    border: none !important;
}
@keyframes animacion{
    0%{
        box-shadow: 0px 0px 1px white;
    }
    100%{
        box-shadow: 0px 0px 20px var(--bs-red);
    }
}
.displayNone{
    visibility: hidden;
}