.conteiner_central{
    width: 100%;
}
.conteiner_central input{
    z-index: 100;
}
.contacts_conteiner{
    width: 95%;
}
.buscadores{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}
.buscadores .agregador, .buscadores .buscador{
    display: flex;
    gap: 5px;
}
/* Contacts Container */
.contacts_conteiner ul{
    padding: 0px;
}
.contacts_conteiner ul li{
    padding: 5px;
    list-style: none;
    margin: 10px 0px 10px 0px;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.1s;
    border-bottom: 1px white dashed;
    cursor: pointer;
}
.contacts_conteiner ul li:hover{
    transform: scale(1.002);  
}
.contacts_conteiner ul li .buttons button{
    margin: 0px 1px 0px 1px;
    transform: scale(0.9);
}
.active{
    border-radius: 5px !important;
    background: var(--bs-light);
    color: black;
    transform: scale(1.01);
    transition: 0.1s;
    animation: animacion 1s alternate infinite;
    border: none !important;
}
@keyframes animacion{
    0%{
        box-shadow: 0px 0px 20px var(--bs-red);
    }
    100%{
        box-shadow: 0px 0px 1px white;
    }
}