<body (mouseenter)="Move(body, puntero)" #body>
  <div class="puntero" #puntero></div>
  <style>
    body {
      min-height: 100vh;
      height: 100%;
      width: 100%;
      background-image: url('https://www.xtrafondos.com/wallpapers/planta-suculenta-9677.jpg');
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
    }
    .margin_rigth{
      margin-left: 80px;
    }
  </style>
  <app-navbar></app-navbar>
  <div class="margin_rigth">
    <router-outlet></router-outlet>
  </div>
</body>