.puntero{
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height:8px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.637);
    background: red;
    z-index: -1;
}
.puntero:active{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #ffffff;
}